@model ProductsListViewModel


@foreach (var item in Model.Products)
{
    <div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Description</p>
                <p class="displayInline">@item.Price.ToString("c")</p> <a href="#" class="btn btn-primary displayInline">Buy</a>
            </div>
        </div>
        <br/>
    </div>
}
    <div page-model="@Model.PagingInfo" page-action="List"></div>


