<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css"/>
    <title>Book Store</title>
    <style>
        .blackWhite{
            background-color: #091e34;
            color:beige !important;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse blackWhite" role="navigation">
        <a class="navbar-brand" href="#">Book Store</a>
    </div>
    <div class="row panel">
        <div id="categories" class="col-xs-3">
            Place for left side menu!
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-6 col-xs-8">
            @RenderBody()
        </div>
    </div>
</body>
</html>